{% extends 'base.html' %}
{% block content %}
<p></p>
<p></p>
<link rel="stylesheet" href="{{ url_for('static', filename='css/icons2.css') }}">
<h1 style="margin-right: 500px; color: white;">Наши контакты:</h1>
    <h6 style="color: white;">Телефон: + 7-999-99 99-99-9</h6>
    <h6 style="color: white;">Соц. Сети:</h6>
<ul class="social-icons-6">
    <a href="https://vk.com/sanechkatysnimaesh"><img src="static/icons/vk.png" alt=""/></a>
    <a href="https://vk.com/sanechkatysnimaesh"><img src="static/icons/vk.png" alt=""/></a>
    <a href="https://vk.com/sanechkatysnimaesh"><img src="static/icons/vk.png" alt=""/></a>
    <a href="https://vk.com/sanechkatysnimaesh"><img src="static/icons/vk.png" alt=""/></a>
    <a href="https://vk.com/sanechkatysnimaesh"><img src="static/icons/vk.png" alt=""/></a>
    <a href="https://vk.com/sanechkatysnimaesh"><img src="static/icons/vk.png" alt=""/></a>
</ul>
<div>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A20bdb083f00f98db1d3d4cbb3f921b80f14dae11a1679cd835120f924110abd4&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script><p></p>
</div>
<p></p>
{% endblock %}
